body {
  font-family: 'Zilla Slab', serif;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../video/bg.jpg) no-repeat;
    background-size: cover;
}

.outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  background: rgba(236, 240, 241, .8);
  padding: 50px;
  border-radius: 10px;
  width: 500px;
}

button.btn {
  margin: 0 auto;
  padding: 0px 18px;
  font-size: 16px;
}

h3 {
  margin-top: 0;
  font-family: 'Just Another Hand', cursive;
  font-size: 60px;
}

label {
  color: #707070;
  font-size: 1.3rem;
}

input[type="text"].form-control {
  font-size: 1.5rem;
}

i {
  margin-right: 1em;
}

#vidpause {
  margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
  html {
    background: url(../video/bg.jpg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
